spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "waybar"
spawn-at-startup "wlr-brightness"
spawn-at-startup "blueman"
spawn-at-startup "mako"
spawn-at-startup "hypridle"
spawn-at-startup "hyprpaper"
spawn-sh-at-startup "nm-applet --indicator"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Nordic'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'Qogir-Dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface font-name 'Roboto Mono'"
spawn-sh-at-startup "dconf write /org/gnome/desktop/interface/color-scheme '\"prefer-dark\"'"
spawn-sh-at-startup "dconf write /org/gnome/shell/extensions/user-theme/name \"'Nordic'\""

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    QT_QPA_PLATFORM "wayland"
    DISPLAY null
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 48

    hide-when-typing
    hide-after-inactive-ms 1000
}

overview {
    zoom 0.5
    backdrop-color "#2b303cd6"

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
        color "#2B303C"
    }
}

xwayland-satellite {
    path "xwayland-satellite"
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

config-notification {
    disable-failed
}