window * {
    font-family: "Roboto Mono";
    font-size: 1.25rem;
    padding: .5rem;
}

window#waybar {
    background-color: rgba(46, 52, 64, 0.95);
    border: 4px solid rgba(43, 48, 59, 0.65);
    border-radius: 8px;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
    padding: .5rem;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty {
    background-color: transparent;
}

button,
button:hover {
    background-color: transparent;
    border: none;
    padding: 0;
}

/* you can set a style on hover for any module like this */
#pulseaudio:hover {
    background-color: #a37800;
}

#workspaces {
    background-color: transparent;
    color: #ffffff;
    margin-right: 1.5rem;
    transition: all ease .25s;
    background-color: transparent;
    border: none;
    padding: 0;
}

#workspaces label {
    font-size: 2rem;
    padding: 0;
}

#workspaces button {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    color: white;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#custom-power,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#power-profiles-daemon,
#mpd {
    margin: 0 .25rem;
    color: #ffffff;
    font-size: 1.25rem;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    color: #ffffff;
}

#battery {
    background-color: #ffffff;
    color: #000000;
}

#battery.charging,
#battery.plugged {
    color: #ffffff;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#power-profiles-daemon {
    padding-right: 15px;
}

#power-profiles-daemon.performance {
    background-color: #f53c3c;
    color: #ffffff;
}

#power-profiles-daemon.balanced {
    background-color: #2980b9;
    color: #ffffff;
}

#power-profiles-daemon.power-saver {
    background-color: #2ecc71;
    color: #000000;
}

label:focus {
    background-color: #000000;
}

#cpu {
    background-color: transparent;
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

#backlight {
    background-color: transparent;
}

#network {
    background-color: transparent;
}

#network.disconnected {
    background-color: transparent;
}

#pulseaudio {
    background-color: transparent;
}

#pulseaudio.muted {
    font-size: 1.5rem;
}

#wireplumber {
    background-color: transparent;
}

#wireplumber.muted {
    background-color: transparent;
}

#custom-media {
    background-color: transparent;
}

#custom-media.custom-spotify {
    background-color: transparent;
}

#custom-media.custom-vlc {
    background-color: transparent;
}

#custom-power {
    font-size: 2rem;
    min-height: 1rem;
}

#temperature {
    background-color: transparent;
}

#temperature.critical {
    background-color: transparent;
}

#tray {
    background-color: transparent;
}

#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: transparent;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state>label {
    padding: 0 5px;
}

#keyboard-state>label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
    background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}