input {
    focus-follows-mouse

    keyboard {
        xkb {
            layout "ch"
            variant "fr"
            options "terminate:ctrl_alt_bksp"
        }

        numlock
    }

    mouse {
        // off
        natural-scroll
        // accel-speed 0.2
        accel-profile "adaptive"
        // scroll-factor 1.0
        scroll-factor vertical=1.0 horizontal=-1.0
        // scroll-method "no-scroll"
        // scroll-button 273
        // scroll-button-lock
        // left-handed
        // middle-emulation
    }
}

output "DP-1" {
    position x=1920 y=0
    variable-refresh-rate
    focus-at-startup
    backdrop-color "#2D333F"
}

output "DP-2" {
    position x=0 y=0
    variable-refresh-rate
    focus-at-startup
    backdrop-color "#2D333F"
}

binds {
    Ctrl+Up { toggle-overview; }
    Ctrl+Right { focus-monitor-right; }
    Ctrl+Left { focus-monitor-left; }
    Mod+Q { close-window; }
    // Mod+Up { focus-column-up; }
    // Mod+Down { focus-column-down; }
    Mod+M { maximize-column; }
    Mod+F { switch-focus-between-floating-and-tiling; }
    Mod+Right { focus-column-right; }
    Mod+Left { focus-column-left; }
    Mod+WheelScrollDown cooldown-ms=150 { focus-workspace-down; }
    Mod+WheelScrollUp   cooldown-ms=150 { focus-workspace-up; }
    Mod+WheelScrollRight    { focus-column-right; }
    Mod+WheelScrollLeft     { focus-column-left; }

    Super+Alt+L { spawn "hyprlock"; }
    Super+Alt+F { spawn "nautilus"; }
    Ctrl+Alt+T { spawn "ghostty"; }
    Mod+Space { spawn-sh "rofi -show combi | xargs hyprctl dispatch exec --"; }

    Ctrl+Alt+Print { screenshot; }
}

layout {
    gaps 8
    center-focused-column "never"
    always-center-single-column
    empty-workspace-above-first
    default-column-display "normal"
    background-color "#2b303cd6"

    default-column-width {}

    preset-window-heights {
        proportion 1
    }

    focus-ring {
        off
        width 2
        active-color "#2B303C"
        inactive-color "#2b303cd6"
        urgent-color "#3c302bff"
    }

    border {
        width 5
        active-color "#2b303cd4"
        inactive-color "#2b303cd6"
        urgent-color "#3c302be6"
    }

    shadow {
        on
        softness 30
        spread 5
        offset x=0 y=5
        draw-behind-window true
        color "#2b303cd6"
        // inactive-color "#00000054"
    }

    tab-indicator {
        hide-when-single-tab
        gap 1
        width 4
        length total-proportion=1.0
        position "left"
        gaps-between-tabs 4
        corner-radius 8
        active-color "#caccd0d6"
        inactive-color "#caccd09c"
        urgent-color "#3c302be6"
    }

    insert-hint {
        color "#2b303cd6"
    }

    struts {
        // left 64
        // right 64
        // top 64
        // bottom 64
    }
}

spawn-at-startup "/usr/lib/polkit-gnome/polkit-gnome-authentication-agent-1"
spawn-at-startup "waybar"
spawn-sh-at-startup "wlr-brightness"
spawn-sh-at-startup "blueman"
spawn-sh-at-startup "mako"
spawn-sh-at-startup "hypridle"
spawn-sh-at-startup "hyprpaper"
spawn-sh-at-startup "nm-applet --indicator"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface gtk-theme 'Qogir-Round-Dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface icon-theme 'Qogir-Dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface color-scheme 'prefer-dark'"
spawn-sh-at-startup "gsettings set org.gnome.desktop.interface font-name 'Roboto Mono'"
spawn-sh-at-startup "dconf write /org/gnome/desktop/interface/color-scheme '\"prefer-dark\"'"
spawn-sh-at-startup "dconf write /org/gnome/shell/extensions/user-theme/name \"'Qogir-Round-Dark'\""

prefer-no-csd

screenshot-path "~/Pictures/Screenshots/Screenshot from %Y-%m-%d %H-%M-%S.png"

environment {
    QT_QPA_PLATFORM "wayland"
    ELECTRON_OZONE_PLATFORM_HINT "auto"
    DISPLAY null
}

cursor {
    xcursor-theme "breeze_cursors"
    xcursor-size 48

    hide-when-typing
    hide-after-inactive-ms 1000
}

overview {
    zoom 0.5
    backdrop-color "#2b303cd6"

    workspace-shadow {
        // off
        softness 40
        spread 10
        offset x=0 y=10
        color "#2B303C"
    }
}

xwayland-satellite {
    path "xwayland-satellite"
}

clipboard {
    disable-primary
}

hotkey-overlay {
    skip-at-startup
    hide-not-bound
}

config-notification {
    disable-failed
}

window-rule {
    geometry-corner-radius 2
    clip-to-geometry true
    tiled-state true
    open-focused true
    variable-refresh-rate true
}

window-rule {
    match is-active=false
    opacity 0.8
}

animations {
    // Uncomment to turn off all animations.
    // You can also put "off" into each individual animation to disable it.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0

    // Individual animations.

    workspace-switch {
        spring damping-ratio=1.0 stiffness=1000 epsilon=0.0001
    }

    window-open {
        duration-ms 150
        curve "ease-out-expo"
    }

    window-close {
        duration-ms 150
        curve "ease-out-quad"
    }

    horizontal-view-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-movement {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    window-resize {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }

    config-notification-open-close {
        spring damping-ratio=0.6 stiffness=1000 epsilon=0.001
    }

    exit-confirmation-open-close {
        spring damping-ratio=0.6 stiffness=500 epsilon=0.01
    }

    screenshot-ui-open {
        duration-ms 200
        curve "ease-out-quad"
    }

    overview-open-close {
        spring damping-ratio=1.0 stiffness=800 epsilon=0.0001
    }
}

// include "input.kdl"
// include "outputs.kdl"
// include "binds.kdl"
// include "layout.kdl"
// include "misc.kdl"
// include "windows.kdl"
// include "animations.kdl"
